    <ng-include src="'client/tasks/views/task-details.ng.html'"></ng-include>

    <div class="findList">
        <div class="captionstyle">Done</div>
        <div style="margin-top: 10px">

            <span class="conditionstyle" ng-if="shoujianTasks.length">Dropbox</span>

            <div style="margin-top: 5px">
                <table class="table tablehover datatable">

                    <tr ng-repeat="task in tasks|filter: {category: 'Dropbox',condition:'done'}|orderBy:'createAt':true as shoujianTasks"  ng-dblclick="edit(task)">
                        <td colspan="4">
                            <show-done-data></show-done-data>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-repeat="type in types">
            <span class="conditionstyle" ng-show="filteredTasks.length">{{type.name}}</span>
            <div style="margin-top: 5px">
                <table class="table tablehover datatable">
                    <tr ng-repeat="task in tasks|filter: {category: type.name,categoryId: type._id,condition:'done'}|orderBy:'createAt':true as filteredTasks"  ng-dblclick="edit(task)">
                        <td colspan="4">
                            <show-done-data></show-done-data>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
