

<div class="modal-header">
    <h3 class="modal-title">Create category</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="typeForm" role="form" novalidate>
    <input type="text" name="name" id="name" class="form-control" placeholder="category name" ng-model="newType.name" required/>
    <div class="has-error" ng-show="typeForm.name.$dirty && typeForm.name.$invalid ">

        <small class="has-error" ng-show="typeForm.name.$error.required">
            <span style="color:#ff0000;"> category name is required.</span>
        </small>

    </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(newType);newType='';" ng-disabled="!typeForm.$valid ">
        Submit
    </button>
    <button class="btn btn-warning" aria-hidden="true" data-dismiss="modal" ng-click="cancel()">cancel</button>
</div>


