
<div class="modal-body">
    <div >
        <img src="images/logo2.png" style="width: 80px;height: 80px;margin-left: 10px;position: absolute"/>
    </div>
    <div style="float:left;margin-top: 10px;margin-left: 100px">
        <div>
           <span style="font-size: large;font-weight: bold">
             {{ '100013' | translate }} " {{obj.name}}"
           </span>
        </div>
        <div>
          <span style="font-size: 10px">
              {{ '100014' | translate }}?
          </span>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="determine(obj)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>