<div class="form-group" ng-controller="SearchCtrl" >
    <div class="input-group" style="margin-top: 5px">
        <span class="input-group-addon"  style="background-color: #0F709D"> <span class="glyphicon glyphicon-search preIcon"></span></span>
        <input type="text" class="form-control" ng-model="name"  placeholder="{{ '100006' | translate }}" />
        <!--<span class="input-group-addon backIcon" style="background-color: #F0FFF0;" >
            <a class="sou" href="/inbox/searchTasks/{{searchText}}">
                <span class="glyphicon glyphicon-search" aria-hidden="false"></span>
            </a>
        </span>-->
    </div>

</div>