<div ng-repeat="type in types" ng-mouseenter="OnMouseEnter(type)" ng-mouseleave="OnMouseEnter(type)">
    <div class="form-group pointer" ui-sref-active="active">
        <span class="glyphicon glyphicon-list leftIcon" ></span>
      <!--  <a href="/inbox/findtasksBytype/{{type._id}}"  class="Tlink">
        <a ui-sref="inbox.tasks({param :'{{type._id}}' })"  class="Tlink " ng-class="{active: testaa === type._id}">-->
        <a ui-sref="inbox.tasks({param :'{{type._id}}' })"  class="Tlink" >
            <span class="leftFonts" >{{type.name}}</span>
        </a>
       <div>
           <span class="glyphicon glyphicon-trash typeedit"  ng-if="type.showIcon" confirm style="margin-right: 3px;z-index: 5;"></span>
           <span class="glyphicon glyphicon-edit typeedit" ng-if="type.showIcon" ng-click="edit(type)"  ></span>
       </div>

    </div>
</div>