    <!--Sidebar content-->
    <ng-include src="'client/tasks/views/task-details.ng.html'"></ng-include>
    <div class="findList">
        <div>
            <table class="table tablehover datatable">
                <caption class="captionstyle">{{param}} {{ownType.name}}</caption>
                <caption> <input-text></input-text></caption>
                <tbody>
                <tr ng-repeat="task in tasks | filter:{condition:'no'}|orderBy:'createAt':true">
                    <td colspan="4" >
                        <show-data></show-data>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <span class="conditionstyle" ng-click="show()">Completed tasks</span>
            <div ng-class="{true:'noshow',false:'show'}[isShow]" style="margin-top: 5px">
                <table class="table tablehover datatable">
                    <tbody>
                    <tr ng-repeat="task in tasks|filter: {condition:'done'}|orderBy:'createAt':true" ng-dblclick="edit(task)">
                        <td colspan="4">
                            <show-done-data></show-done-data>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


